.margin-0 {
    margin: 0;
}

.margin-4 {
    margin: 4px;
}

.draghandle {
    -ms-touch-action: none;
    touch-action: none;
    min-height: 13px * $line-height-base;
    width: 100%;
    background-color: $draghandle-bg-color;
    position: initial;
    margin-bottom: 0px;
    margin-top: 0;
    display: flex;
    align-items: center;

    p {
        flex-grow: 1;
        color: set-text-color($draghandle-bg-color);
        margin-top: 0;
        padding-left: 1em;
        height: 15px;
        font-size: 13px;
        line-height: 15px;
        cursor: default;
        touch-action: none;
        margin-bottom: 0pt;
        display: inline;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    i {
        color: set-text-color($draghandle-bg-color);
        cursor: pointer;
        padding-right: 1em;
    }

    &.attached {
        background-color: $draghandle-attached-color;
        border: 1px solid $basic-border-color;

        p, i {
            color: set-text-color($draghandle-attached-color);
        }
    }
}

.resizehandle-r {
    cursor: e-resize;
    width: 20px;
    right: -20px;
    top: 0;
    bottom: 0px;
    border-top-right-radius: 5px;
}

.resizehandle-rd {
    cursor: se-resize;
    width: 25px;
    height: 25px;
    right: -20px;
    bottom: -20px;
    z-index: 95;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.resizehandle-d {
    cursor: s-resize;
    height: 20px;
    bottom: -20px;
    left: 0;
    right: 0px;
    border-bottom-left-radius: 5px;
}

.resizehandle {
    /*
    background-color: black;
    opacity: 0.1;*/
    z-index: 90;
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}

.resizehandle:hover {
    background-color: black;
    opacity: 0.1;
}

tim-duration-picker {
    display: contents;
}

.pos-rel {
    position: relative;
}

.display-inline {
    display: inline;
}

.cursor-pointer {
    cursor: pointer;
}

.flex {
    display: flex;

    &.cl {
        flex-direction: column;
    }
    &.rw {
        flex-direction: row;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.space-around {
        justify-content: space-around;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    &.align-center {
        align-items: center;
    }
    & > .no-shrink {
        flex-shrink: 0;
    }
}

.flex-grow-5 {
    flex: 5 0 auto;
}

tim-view > div {
    // display: block;
    height: 100%;
}

.reveal {
    // Bootstrap progress style conflicts with Reveal, so we need to fix it.
    .progress {
        margin-bottom: unset;
        border-radius: unset;
    }
}
