$grid-gutter-per2: ($grid-gutter-width/2);
$left-ratio: 100% * ($left-side-columns/$grid-columns);
$right-ratio: 100% * ($right-side-columns/$grid-columns);

.fixed-side {
    position: fixed;
    z-index: 4;
    font-size: small;
}

.left-fixed-side {
    @extend .fixed-side;
    max-width: calc(#{$left-ratio} - #{$grid-gutter-per2});
    min-width: 12em; // modified dynamically by sideBarMenuCtrl
    margin-left: -$grid-gutter-per2;

    @media (max-width: $screen-xs-max) {
        margin-left: -$container-xs-padding;
    }
}

.right-fixed-side {
    @extend .fixed-side;
    max-width: calc(#{$right-ratio} - #{$grid-gutter-per2});
    min-width: 10em;
    right: 0;
}

#menuTabs {
    background: white;

    & > .nav > li > a {
        padding: 5px 11px;
    }

    & > .nav-tabs {
        .nav-link, .nav-item {
            height: 44px;
        }
        
        min-width: 185px; // minimum required space for 5 tabs in one row
        .glyphicon {
            font-size: x-large;
            margin: 0px -10px;
            color: $basic-color;
        }
        // make sure active tab remains black
        .active a .glyphicon {
            color: inherit;
        }
    }

    .tab-content {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100vh - 51.2833px);
        padding-left: 3px;

        .tab-pane > ul {
            padding-left: 13px;

            &.subexp {
                display: block;
                padding-left: 20px;

                a.a3 {
                    position: relative;
                    left: 0.4em;
                    font-size: smaller;
                    display: block; // needed for line-height to work
                    line-height: 1.3;
                }
            }
        }
    }
}

.col ul {
    padding-left: 10px !important;
}

li.exp {
    list-style-image: url("#{$asset-path}/images/plus.png");
    cursor: pointer;
}

li.col {
    list-style-image: url("#{$asset-path}/images/minus.png");
    cursor: pointer;
}
