.div-height {
  height: 34px;
}

.div_row {
  margin-bottom: 3px;
}

.force-hyphenate-link {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-all;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

#print-success {
  text-align: left;
  margin-top: 15px;
}

#print-success span {
  padding-right: 0.3em;
}

#printing-dialog-show-paths {
  /* float: left; */
  text-align: left;
}

.printdlgfooter {
    line-height: 1.7em;
    text-align: left;
 }

/*
.modal-footer{
    padding:15px;
    text-align: left;
 }
*/

