{% extends obj_name + ".html" %}
{% set is_folder = obj_name == 'folder' %}
{% block title %}{{ item.title }} - Manage{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        var accessTypes = {{access_types|tojson}};
        var objName = {{obj_name|capitalize|tojson}};
    </script>
{% endblock %}
{% block content %}
    <tim-manage></tim-manage>
{% endblock %}
