.pluginnumericfield answerbrowser {
    display: none;
}

.pluginnumericfield .timButton {
    margin-bottom: 5px;
}

numericfield-runner .stem {
    text-align: left;
    height: 6px;
}

.pluginnumericfield .answerBrowserPlaceholder {
    display: none;
}

.warnFrame {
    border-right-color: gold;
    border-right-width: thick;
}

input:focus.warnFrame {
    border-right-color: gold !important;
}

[data-plugin="/numericfield"] {
    opacity: 1 !important;
}

.alertFrame {
    border-color: red;
    border-width: 2px;
}

input:focus.alertframe {
    border-color: red !important;
}

.plaintextFrame {
    border: none;
    box-shadow: none;
}

/*
/ Showing "Saved!" text until fadeOut.
/ Existing issue: can't redo Saved! text without page refresh.
 */
.savedtext {
    display: inline-block;
    white-space: nowrap;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1; height: 100%; }
    99% { opacity: 0.01; height: 100%; }
    100% { opacity: 0; height: 0%; }
}
@keyframes fadeOut {
    0% { opacity: 1; height: 100%; }
    99% { opacity: 0.01; height: 100%; }
    100% { opacity: 0; height: 0; }
}

.pluginnumericfield p {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}