<table class="table">
    <thead>
    <tr ng-show="$ctrl.qctrl.question.questionType == 'matrix' || $ctrl.qctrl.question.questionType == 'true-false' ">
        <th></th>
        <th ng-if="$ctrl.qctrl.isAskedQuestion()" ng-repeat="item in $ctrl.qctrl.columnHeaders" class="text-center"
            ng-bind-html="$ctrl.qctrl.columnHeaders[$index].text">
        <th ng-if="!$ctrl.qctrl.isAskedQuestion()" ng-repeat="item in $ctrl.qctrl.columnHeaders" class="text-center">
            <div class="pos-rel" ng-if="!$ctrl.qctrl.isAskedQuestion()">
                        <textarea class="form-control" rows="1" cols="10"
                                  ng-model="$ctrl.qctrl.columnHeaders[$index].text"></textarea>
                <div class="buttonsTop" ng-if="$ctrl.qctrl.question.questionType != 'true-false'">
                    <button class="timButton btn-xs" tabindex="-1" ng-click="$ctrl.qctrl.addCol($index)"><span
                            class="glyphicon glyphicon-plus"></span></button>
                    <button class="timButton btn-xs btn-danger" tabindex="-1" ng-click="$ctrl.qctrl.delCol($index)">
                        <span class="glyphicon glyphicon-minus"></span></button>
                </div>
            </div>
        </th>
        <th ng-if="($ctrl.qctrl.question.questionType == 'matrix' ) && !$ctrl.qctrl.isAskedQuestion()">
            <button class="wideButton" ng-click="$ctrl.qctrl.addCol(-1)"><span
                    class="glyphicon glyphicon-plus"></span></button>
        </th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.qctrl.rows">
        <td ng-if="$ctrl.qctrl.isAskedQuestion()" ng-bind-html="row.text">
        <td ng-if="!$ctrl.qctrl.isAskedQuestion()">
            <div class="pos-rel">
                    <textarea ng-required="$ctrl.qctrl.rows.length > 1" class="form-control questiontext" ng-model="row.text" rows="1"
                              id="{{ 'r'+row.id }}" name="{{'r'+row.id}}"></textarea>
                <div class="matrixButtons">
                    <button class="timButton btn-xs btn-block" tabindex="-1" ng-click="$ctrl.qctrl.addRow($index)">
                        <span class="glyphicon glyphicon-plus"></span></button>
                    <button class="btn btn-danger btn-xs btn-block" tabindex="-1"
                            ng-click="$ctrl.qctrl.delRow($index)"><span
                            class="glyphicon glyphicon-minus"></span></button>
                </div>
                <tim-error-message for="$ctrl.qctrl.f['r' + row.id]"></tim-error-message>
            </div>
        </td>
        <td ng-repeat="column in row.columns" class="text-center form-inline">
            <!-- Horizontal radio-button-->
            <div class="checkRadioCell" ng-if="($ctrl.qctrl.question.matrixType == 'radiobutton-horizontal' && $ctrl.qctrl.question.questionType=='matrix') || $ctrl.qctrl.question.questionType == 'true-false' ">
                <!-- ng-model="row.id" -->
                <input type="radio"
                            ng-value="column.id"
                            placeholder=""
                            disabled/>
                <input type="text"
                            class="form-control"
                            size="2"
                            placeholder="pts"
                            ng-model="column.points"/>
            </div>
            <!-- Vertical radio-button -->
            <div ng-if="$ctrl.qctrl.question.questionType != 'true-false'">
                <div class="checkRadioCell" ng-if="$ctrl.qctrl.question.questionType == 'radio-vertical'">
                    <input type="radio"
                                name="column.rowId"
                                ng-value="column.id"
                                placeholder=""
                                disabled/>
                    <input type="text"
                                class="form-control"
                                size="2"
                                placeholder="pts"
                                ng-model="column.points"/>
                </div>
                <!-- Text area-->
                <div ng-if="$ctrl.qctrl.question.questionType != 'radio-button'">
                            <textarea
                                    class="form-control"
                                    ng-if="$ctrl.qctrl.question.matrixType == 'textArea' && $ctrl.qctrl.question.questionType=='matrix'"
                                    type="text"
                                    placeholder=""
                                    disabled></textarea>
                    <!-- Checkbox-->
                    <div class="checkRadioCell" ng-if="($ctrl.qctrl.question.matrixType == 'checkbox' && $ctrl.qctrl.question.questionType=='matrix') || $ctrl.qctrl.question.questionType=='checkbox-vertical'">
                        <input type="checkbox"
                                    ng-model="row.id"
                                    disabled/>
                        <input type="text"
                                    class="form-control"
                                    size="2"
                                    placeholder="pts"
                                    ng-model="column.points"/>
                    </div>
                </div>
            </div>
        </td>
        <td ng-class="['explField', row.expl ? 'hasText' : '']">
                    <textarea placeholder="Optional: Explain why answer is right/wrong" class="form-control"
                              ng-focus="$ctrl.qctrl.explFocus($event)" ng-blur="$ctrl.qctrl.explBlur($event)"
                              ng-model="row.expl"
                              rows="1"></textarea>
        </td>
    </tr>
    <tr ng-if="!$ctrl.qctrl.isAskedQuestion()">
        <th>
            <div>
                <button class="wideButton" ng-click="$ctrl.qctrl.addRow(-1)"><span
                        class="glyphicon glyphicon-plus"></span></button>
            </div>
        </th>
    </tr>
    </tbody>
</table>
