.pluginmultisave .timButton {
    margin-bottom: 5px;
    margin-top: 5px;
}

.pluginmultisave answerbrowser {
    display: none;
}

[data-plugin="/multisave"] {
    opacity: 1 !important;
}

/*
/ Most likely will not be implemented - showing Saved! text until fadeOut.
/ Existing issue: can't redo Saved! text without page refresh.
 */
.savedtext {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1; height: 100%; }
    99% { opacity: 0.01; height: 100%; }
    100% { opacity: 0; height: 0%; }
}
@keyframes fadeOut {
    0% { opacity: 1; height: 100%; }
    99% { opacity: 0.01; height: 100%; }
    100% { opacity: 0; height: 0; }
}

.pluginmultisave p {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
